body {
    height: 100%;
    background: rgb(30, 30, 30);
}

h1 {
    text-align: center;

    font-family: "lato", "sans-serif";
    font-size: 60px;
    font-weight: 800;

    color: white;
}

h2 {
    text-align: left;

    font-family: "lato", "sans-serif";
    font-size: 30px;
    font-weight: 600;

    color: white;
}

.weHelp-main {
    width: 400px;
    height: 300px;
    
    margin: 100px auto;
    padding: 15px 50px 50px;
    
    position: relative;
    display: block;

    border-radius: 5px;
    background-color: rgb(50, 50, 50);
    color: white;
}

.weHelp-box {
    width: 500px;
    height: auto;
    
    margin: 100px auto;
    padding: 15px 50px 50px;
    
    position: relative;
    display: block;

    border-radius: 5px;
    background-color: rgb(50, 50, 50);
    color: white;
    text-decoration: none;

    text-align: left;
}

input {
    color: black;
    background-color: white;
    height: 30px;

}

a {
    text-decoration: none;
}

.button {
    text-align: center;
    color: white;
    transition: color ease 0.3s;
}

.button:hover {
    color: rgb(150, 150, 150);
    transition: color ease 0.3s;
}